/* General settings for all pages */
/* Do NOT Change */
* {
    margin: 0;
    padding: 0;
    size: 0;
    text-decoration: none;
}
body {
    background-color: #004630;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* Navbar - Dylan */
.nav-container {
    background-color: #0F2B22;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 0 20px;
    width: auto;
    height: 25vh;
    font-weight: bold;
}
#Image-logo {
    display: flex;
    -ms-flex-align: center;
    height: auto;
    width: 10%;
}
.list-Menu {
    display: flex;
    position: absolute;
    bottom: 0;
    transform: translateY(-60%);
    padding: 10px;
    box-sizing: border-box;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #006445;
    width: 85%;
    justify-content: space-evenly;
}
.home-box {
    transform: translateY(-90%);
    box-sizing: border-box;
    background-color: #006445;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    width: 85vw;
    align-items: center;
    margin-left: 30px;
    color: white;
    font-size: large;
}
.list-Menu li {
    margin-right: 10px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #DBFF4A;
    padding: 10px;
    border-radius: 50px;
    color: black;
}
#dropdown-content-link{
    padding:5px;
    color:black;
}
.dropdown-content {
    display: none;
    position: absolute;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    width: 200px;
    overflow: visible;
    top: 100%;
    left: 0;
}
nav {
    z-index: 999;
}
.list-Menu li:hover .dropdown-content {
    display: block;
}
#dropdown-content li {
    background-color: white;
}
#navbar-link {
    color: black;
}
/* Footer - Dylan */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0F2B22;
    height: 10%;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.footer-content {
    display: flex;
    background-color: #006445;
    border-radius: 5px;
    padding: 10px;
    margin: 2vw;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
}
#Footer-copyright {
    background-color: #DBFF4A;
    padding: 10px;
    border-radius: 25px;
    margin-left: 30px;
}
#Footer-external {
    background-color: #DBFF4A;
    padding: 10px;
    border-radius: 25px;
    margin-left: 30px;
}
#Footer-contact {
    display: flex;
    padding: 10px;
    margin-left: 30px;
    border-radius: 25px;
    background-color: #DBFF4A;
}
#Footer-contact a {
    color: inherit;
}
/* Index - Dylan */
#home-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
.Home-set {
    display: flex;
    flex-direction: row;
}
#foto {
    width:50vw;
    height: 29vw;
    margin-right: 5vw;
}
#Home-H1 {
    font-size: 24px;
    font-weight: bold;
}
#Home-H1-Middle{
    display:flex;
    align-self:center;
}
/* Formulier - Dylan */
#Form-Main {
    text-align: center;
    padding: 20px;
}
#Form-Tekst-h1 {
    font-size: 24px;
    margin-bottom:15px;
    color:#fff;
    background:#006445;
    border-radius:10px;
    padding:15px;
    padding-bottom:5px;
}
#Inschrijf-Form {
    background-color: #006445;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.invul {
    font-weight: bold;
    color:#fff;
    display: block;
    margin-bottom: 10px;
}
.schrijf {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#submit {
    background-color: #DBFF4A;
    color: #000;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
#submit:hover {
    background-color: #a24c05;
}
/* Over Obay - obay */
.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.superman {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 15px;
    margin: 10px;
}
.text-container {
    background-color: #006445;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px;
}
.wiebenik,
.hobbies {
    margin: 10px 0;
}
.theater {
    width: 100%;
    max-width: 400px;
    height: auto;
}
/* Over Dylan - Dylan */
.OverDylan-box {
    transform: translateY(-90%);
    box-sizing: border-box;
    background-color: #006445;
    text-align: center;
    padding: 18px;
    border-radius: 10px;
    width: 85vw;
    margin-left: 30px;
    color: white;
    font-size: large;
}
#OverDylan-main {
    display: flex;
    z-index: 3;
    color: white;
    position: absolute;
    top: 25vh;
    bottom: 10%;
    left: 0;
    right: 0;
    margin: auto;
}
.OverDylan-set {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}
#OverDylan-Front-Img {
    margin: 20px;
}
.OverDylan-body-tiles {
    display: flex;
    margin: 30px;
    align-items: center;
}
#OverDylan-H1-up{
    margin: 20px;
    margin-bottom: 5vw;
    padding: 20px;
    background-color: #006445;
}
#Dylan-hobbies{
    font-size: 15px;
}
/* Apps - Canvas.html - Dylan */
main {
    text-align: center;
    padding: 20px;
}
.canvas-content h1 {
    font-size: 24px;
    margin: 20px 0;
}
.canvas-content {
    background-color: #006445;
    color:#fff;
    font-size:large;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.canvas-content a {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.canvas-logo {
    max-width: 15vw;
    height:auto;
    margin: 20px 0;
}